<!DOCTYPE html>
<html>
  <%- include("components/head", {title}) %>
  <body>
    <%- include("components/header", {title}) %>
    <main>
      <h2 class="form-head"><%= title %></h2>

      <div id="flash-message">
        <% if(locals.errorMessage) { %> <%= errorMessage %> <% } %>
      </div>
      <form action="/new" method="post">
        <div>
          <input
            type="text"
            name="user-name"
            class="user-name"
            placeholder="Your name"
            maxlength="28"
          />
        </div>
        <div>
          <textarea
            name="message"
            class="message"
            placeholder="Your message"
          ></textarea>
        </div>
        <button type="submit" class="send-message">Send</button>
      </form>
    </main>
    <script>
      const flash = document.getElementById("flash-message");
      if (flash) {
        setTimeout(() => (flash.textContent = ""), 3000);
      }
    </script>
  </body>
</html>
