:root {
  --accent-color: #ffe4c4;
  --secondary-color: #555;
  --light-transparent-color: #fff7;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  background-color: var(--accent-color);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

nav > * {
  margin: 0;
  text-align: center;
}

nav h1 {
  font-size: xx-large;
}

nav a {
  display: block;
  color: inherit;
  text-decoration: none;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  font-size: large;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-transparent-color);
}

nav > a:active,
button:active {
  transform: scale(0.95);
  outline: none;
}

nav a:focus,
button:focus {
  outline: 2px solid #aaa;
}

nav a:hover,
nav a:focus,
button:hover,
button:focus {
  text-decoration: underline;
}

main {
  align-self: center;
  justify-self: center;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding: 2rem;
  overflow: auto;
  max-width: 480px;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 #0003;
  background-color: var(--accent-color);
}

.message-card {
  background-color: var(--light-transparent-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 1px #0003;
}

.message-card:last-of-type {
  margin-bottom: 0;
}

input.user-name,
.user-name {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

.message-date {
  color: var(--secondary-color);
  font-size: x-small;
  margin-top: 0.25rem;
}

textarea.message,
.message {
  font-style: italic;
  margin-top: 1.5rem;
}

textarea,
button,
input {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.75rem;
  min-height: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px #0003;
  background-color: var(--light-transparent-color);
}

textarea:focus,
input:focus {
  outline: 2px solid #aaa;
}

input.user-name,
textarea.message {
  margin: 0 auto 1rem;
}

textarea.message {
  height: 7rem;
  resize: none;
  overflow: auto;
}

button.send-message {
  font: inherit;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.form-head {
  margin: 0 0 1rem;
}

#flash-message {
  height: 1rem;
  color: #a52a2a;
  margin-bottom: 0.5rem;
  text-align: center;
  font-style: italic;
  font-size: small;
}
