:root {
  --navbar-height: 5rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

*::before,
*::after,
* {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  scroll-margin-top: var(--navbar-height);
}

.error {
  margin: 0.25rem;
  color: #a52a2a;
  font-size: small;
  font-style: italic;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

header {
  height: var(--navbar-height);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 3px 0 #eee;
}

header nav,
main {
  margin: 0 auto;
  max-width: 1024px;
}

header nav {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: var(--navbar-height) 1rem 1rem;
  text-align: center;
  margin-top: 1.5rem;
}

form {
  text-align: left;
  margin-top: 2rem;
}

input,
textarea,
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 0 #ccc;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border: 1px solid #999;
  box-shadow: 0 0 2px 0 #999;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

textarea {
  resize: vertical;
  min-height: 10rem;
}

button {
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  background-color: #efefef;
}

table {
  border-spacing: 0;
}

table td {
  padding: 1rem;
}

.note {
  margin: 0 0 2rem;
  font-size: 0.75rem;
}

.sender {
  text-align: left;
  font-weight: 700;
}

.message {
  border-bottom: 1px solid #dfdfdf;
}

.message a {
  color: #555;
  font-size: 0.75rem;
}

.date {
  text-align: right;
  font-weight: 200;
  font-style: italic;
  font-size: 0.75rem;
  white-space: nowrap;
}

@media (width < 580px) {
  header nav {
    flex-direction: column;
  }
}

@media (width < 430px) {
  html {
    font-size: 75%;
  }
}

@media (width < 275px) {
  html {
    font-size: 50%;
  }
  .date {
    white-space: initial;
  }
}

@media (width < 200px) {
  :root {
    --navbar-height: 7rem;
  }
}
